/* FORMS */
/* input/textarea */
.lcsFormStyles input[type="text"],
.lcsFormStyles input[type="password"],
.lcsFormStyles input[type="email"],
.lcsFormStyles input[type="number"],
.lcsFormStyles input[type="date"],
.lcsFormStyles textarea {
    color: var(--formInputColor);
    padding: 14px 10px;
    border-radius: 4px;
    font-size: 16px;
    outline: var(--formInputOutline);
    border: var(--formInputBorder);
    background-color: var(--formInputBG);
    width: 100%;
}
.lcsFormStyles input[type="text"]:focus,
.lcsFormStyles input[type="password"]:focus,
.lcsFormStyles input[type="email"]:focus,
.lcsFormStyles input[type="number"]:focus,
.lcsFormStyles input[type="date"]:focus,
.lcsFormStyles textarea:focus {
    border: 1px solid var(--textColor);
    outline: 1px solid var(--textColor);
    background-color: transparent;
}
.lcsFormStyles textarea {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
}
.lcsFormStyles ._form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.lcsFormStyles ._form_title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--formTitleColor, #222);
}
.lcsFormStyles ._form_desc {
    color: var(--formDescColor);
    margin: 10px 0;
    font-size: 15px;
}
.lcsFormStyles ._form_note, 
.lcsFormStyles small, 
.lcsFormStyles ._note, 
.lcsFormStyles ._info {
    color: var(--formDescColor);
    font-size: 14px;
}
.lcsFormStyles ._form_input_wrapper {
    position: relative;
}
.lcsFormStyles .formPasswordWrapper {
    position: relative;
}
.lcsFormStyles .formPasswordWrapper > input {
    width: 100%;
}
.lcsFormStyles .formPasswordWrapper .showHidePassword {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    color: var(--primaryColor);
    font-size: 15px;
    font-weight: 500;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: unset;
}
.lcsFormStyles ._form_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem 0;
}
.lcsFormStyles label {
    font-weight: 600;
    font-size: 15px;
    color: var(--formLabelColor);
}
.lcsFormStyles label:has(._required_field_marker),
.lcsFormStyles ._label:has(._required_field_marker) {
    display: flex;
    gap: 5px;
    align-items: center;
}
.lcsFormStyles ._required_field_marker {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* radio */
.lcsFormStyles ._radio_options {
    display: flex;
    gap: 1rem;
}
.lcsFormStyles ._radio_option {
    display: flex;
    border: 1px solid var(--radioOptionBorder);
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.lcsFormStyles ._radio_option._selected {
    border: 2px solid var(--radioOptionSelectedBorder);
}
.lcsFormStyles ._radio_option_label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lcsFormStyles ._radio_option_label > i {
    font-size: 30px;
}
.lcsFormStyles ._radio_option_label > span {
    font-size: 20px;
}
.lcsFormStyles ._radio_option_toggle > span {
    display: inline-block;
    height: 25px;
    width: 25px;
    min-width: 25px;
    border: 1px solid var(--radioOptionBorder);
    border-radius: 50%;
    position: relative;
}
.lcsFormStyles ._radio_option._selected ._radio_option_toggle > span {
    border-width: 2px;
}
.lcsFormStyles ._radio_option._selected ._radio_option_toggle > span::after {
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    min-width: 12px;
    background-color: var(--radioOptionBG);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
/* selected skills list */
.lcsFormStyles ul._selectedSkillList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
    list-style: none;
}
.lcsFormStyles ul._selectedSkillList li {
    display: flex;
    gap: 10px;
    background-color: #f0f0f099;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #99999999;
}
.lcsFormStyles ul._selectedSkillList li span {
    font-size: 14px;
}
.lcsFormStyles ul._selectedSkillList li button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/* pill options */
.lcsFormStyles ._form_group.lcsPillOptionsSelection {
    margin: 1rem 0;
}
/* countries selection */
.lcsFormStyles .lcsCountrySelection ._dropdown_wrapper {
    max-width: unset;
}
/* errors */
.lcsFormStyles ._error,
.lcsFormStyles ._required_field_error {
    font-size: 14px;
    color: var(--errorTextColor);
}
.lcsFormStyles input._input_error,
.lcsFormStyles input._input_error:focus {
    border: var(--formInputErrorBorder);
    outline: var(--formInputErrorOutline);
}
/* submit */
.lcsFormStyles ._submit {
    height: 45px;
    width: 100%;
    display: flex;
    border: none;
    border-radius: 4px;
    background-color: var(--formSubmitBG);
    color: var(--formSubmitText);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
.lcsFormStyles ._submit:hover {
    opacity: .9;
}

/* INPUT VALIDATION */
.inputLengthCount {
    font-size: 0.85rem;
    color: var(--formDescColor);
    margin-top: 4px;
}
.inputMaxReached {
    border-color: #cccccc99;
    background-color: #fff0f099;
    opacity: .5;
}
.inputMaxExceeded {
    border-color: #dc3545;
    background-color: #fff0f0;
}