.lcsCountrySelection {
    font-family: Arial, sans-serif;
}

.lcsCountrySelection ._dropdown_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

.lcsCountrySelection ._country_container, 
.lcsCountrySelection ._state_container, 
.lcsCountrySelection ._city_container {
    display: block;
}

.lcsCountrySelection ._country_container ._label, 
.lcsCountrySelection ._state_container ._label, 
.lcsCountrySelection ._city_container ._label{
    display: block;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
}

.lcsCountrySelection ._country_container ._options_placeholder_container, 
.lcsCountrySelection ._state_container ._options_placeholder_container, 
.lcsCountrySelection ._city_container ._options_placeholder_container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.lcsCountrySelection ._country_container ._options_placeholder, 
.lcsCountrySelection ._state_container ._options_placeholder, 
.lcsCountrySelection ._city_container ._options_placeholder {
    color: #222;
    font-size: 16px;
}

.lcsCountrySelection ._country_container ._options, 
.lcsCountrySelection ._state_container ._options, 
.lcsCountrySelection ._city_container ._options {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 100;
}

.lcsCountrySelection ._country, 
.lcsCountrySelection ._state, 
.lcsCountrySelection ._city {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.lcsCountrySelection ._country:hover, 
.lcsCountrySelection ._state:hover, 
.lcsCountrySelection ._city:hover {
    background-color: #f0f0f0;
}

.lcsCountrySelection ._selected {
    background-color: #e0e0e0;
    font-weight: bold;
}
.lcsCountrySelection ._flag {
    width: 20px;
    height: 20px;
}